<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeedoo.core.api.database.mapper.FileTransferTaskMapper">
	<resultMap type="com.zeedoo.commons.domain.FileTransferTask" id="fileTransferTaskMap">
	    <result column="id" property="id" />
	    <result column="ft_sun_mac_address" property="sunMacAddress" />
	    <result column="ft_file_type" property="fileType" />
	    <result column="ft_file_id" property="fileId" />
	    <result column="ft_file_pointer" property="filePath" />
	    <result column="ft_number_of_packets" property="numberOfPackets" />
	    <result column="ft_current_packet_num" property="currentPacket" />
	    <result column="ft_md5" property="md5" />
	    <result column="ft_packet_error_count" property="packetErrorCount" />
	    <result column="ft_completed" property="completed" />
	</resultMap>
	
	<select id="get" resultMap="fileTransferTaskMap">
	     SELECT
	        id, 
	        ft_sun_mac_address, 
	        ft_file_type,
	        ft_file_id,
	        ft_file_pointer,
	        ft_number_of_packets,
	        ft_current_packet_num,
	        ft_md5, 
	        ft_packet_error_count, 
	        ft_completed
	     FROM file_transfer_task
	     WHERE ft_sun_mac_address = #{sunMacAddress} AND ft_file_id = #{fileId} AND ft_file_type = #{fileType}	    
	</select>
	
	<insert id="insertOrReplace">
	    REPLACE INTO file_transfer_task (ft_sun_mac_address, 
	        ft_file_type,
	        ft_file_id,
	        ft_file_pointer,
	        ft_number_of_packets,
	        ft_current_packet_num,
	        ft_md5, 
	        ft_packet_error_count, 
	        ft_completed)
	    values
	    (
	       #{task.sunMacAddress},
	       #{task.fileType},
	       #{task.fileId},
	       #{task.filePath},
	       #{task.numberOfPackets},
	       #{task.currentPacket},
	       #{task.md5},
	       #{task.packetErrorCount},
	       #{task.completed})
	</insert>
	
	<update id="update">
		UPDATE file_transfer_task SET
		  ft_current_packet_num = #{task.currentPacket},
		  ft_completed = #{task.completed}
		WHERE id = #{task.id}
	</update>
	
	<delete id="delete">
		DELETE FROM file_transfer_task WHERE ft_sun_mac_address = #{sunMacAddress} AND ft_file_id = #{fileId} AND ft_file_type = #{fileType}
	</delete>
</mapper>