<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeedoo.core.api.database.SqlMapper">
	<resultMap type="com.zeedoo.core.api.domain.User" id="userMap">
		<result column="use_username" property="username" />
		<result column="use_password" property="password" />
		<result column="use_email" property="email" />
		<result column="use_uuid" property="uuid" />
		<result column="use_nickname" property="nickname" />
		<result column="use_api_key" property="apiKey"/>
		<result column="use_secret_key" property="secretKey"/>
	</resultMap>

	<select id="get" resultMap="userMap">
		SELECT * FROM users 
		WHERE use_uuid = #{uuid}
	</select>

	<select id="getUserByUsername" resultMap="userMap">
		SELECT * FROM users
		WHERE use_username = #{username}
	</select>
	
	<select id="getUserByApiKey" resultMap="userMap">
		SELECT * FROM users
		WHERE use_api_key = #{apiKey}
	</select>
	
	<update id="update">
	    UPDATE users SET
	      use_email = #{user.email},
	      use_nickname = #{user.nickname},
	      use_api_key = #{user.apiKey},
	      use_secret_key = #{user.secretKey}
	    WHERE use_username = #{id} OR use_uuid = #{id}
	</update>

	<insert id="insert">
		INSERT INTO users (use_username, use_password, use_email, use_nickname,
		use_uuid)
		values
		(#{user.username},#{user.password},#{user.email},#{user.nickname},#{user.uuid})
	</insert>

	<delete id="deleteUserByUsername">
		DELETE FROM users WHERE use_username = #{username}
	</delete>
</mapper>