<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="env/mybatis-config.properties">
	</properties>
	
	<typeHandlers>
	    <typeHandler handler="com.zeedoo.commons.mybatis.DateTimeTypeHandler" javaType="org.joda.time.DateTime"/>
        <typeHandler handler="com.zeedoo.commons.mybatis.HasValueEnumTypeHandler" javaType="com.zeedoo.commons.domain.DeviceStatus"/>
		<typeHandler handler="com.zeedoo.commons.mybatis.UUIDTypeHandler" javaType="java.util.UUID"/>
	</typeHandlers>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${dev.driver}" />
				<property name="url" value="${dev.url}" />
				<property name="username" value="${dev.username}" />
				<property name="password" value="${dev.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/zeedoo/core/api/database/apiTokenMapper.xml" />
		<mapper resource="com/zeedoo/core/api/database/deviceTokenMapper.xml" />
		<mapper resource="com/zeedoo/core/api/database/sensorDataRecordsMapper.xml" />
		<mapper resource="com/zeedoo/core/api/database/sensorStatusMapper.xml" />
		<mapper resource="com/zeedoo/core/api/database/sunStatusMapper.xml" />
	    <mapper resource="com/zeedoo/core/api/database/userMapper.xml" />
	</mappers>
</configuration>