<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeedoo.core.api.database.mapper.SunMapper">
	<resultMap type="com.zeedoo.commons.domain.Sun" id="sunMap">
	    <result column="id" property="id" />
	    <result column="sun_id" property="sunId" />
	    <result column="sun_ssid" property="sunSsid" />
	    <result column="sun_geocode" property="geoCode" />
	    <result column="sun_location" property="location" />
	    <result column="sun_wireless_pass" property="wirelessCode" />
	</resultMap>
	
	<select id="get" resultMap="sunMap">
	     SELECT id, sun_id, sun_ssid, sun_geocode, sun_location, sun_wireless_pass FROM sun
	     WHERE sun_id = #{sunId}	    
	</select>
		
	<insert id="insert">
	    INSERT INTO sun (sun_id, sun_ssid)
	    values
	    (#{sun.sunId},#{sun.sunSsid})
	</insert>
	
	<update id="update">
		UPDATE sun SET
		  sun_ssid = #{sun.sunSsid},
		  sun_geocode = #{sun.geoCode},
		  sun_location = #{sun.location},
		  sun_wireless_pass = #{sun.wirelessCode}	  
		WHERE sun_id = #{sun.sunId}
	</update>
</mapper>