<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeedoo.core.api.database.UserMapper">
	<resultMap type="com.zeedoo.commons.domain.User" id="userMap">
		<result column="use_username" property="username" />
		<result column="use_password" property="password" />
		<result column="use_email" property="email" />
		<result column="use_uuid" property="uuid" />
		<result column="use_nickname" property="nickname" />
		<result column="use_api_key" property="apiKey"/>
		<result column="use_secret_key" property="secretKey"/>
		<result column="use_registration_date" property="registrationDate"/>
		<result column="use_last_login_date" property="lastLoginDate"/>
		<result column="use_last_logout_date" property="lastLogoutDate" />
	</resultMap>
	
	<resultMap type="com.zeedoo.commons.domain.ApiToken" id="apiTokenMap">
	    <result column="api_key" property="apiKey" />
	    <result column="api_secret" property="apiSecret" />
	</resultMap>

	<select id="get" resultMap="userMap">
		SELECT * FROM users 
		WHERE use_uuid = #{uuid}
	</select>

	<select id="getUserByUsername" resultMap="userMap">
		SELECT * FROM users
		WHERE use_username = #{username}
	</select>
	
	<update id="updateLastLoginDate">
	   UPDATE users SET
	     use_last_login_date = NOW()
	   WHERE use_username = #{username}
	</update>
	
	<update id="updateLastLogoutDate">
	   UPDATE users SET
	     use_last_logout_date = NOW()
	   WHERE use_username = #{username}
	</update>
	
	<update id="update">
	    UPDATE users SET
	      use_email = #{user.email},
	      use_nickname = #{user.nickname},
	      use_last_updated_date = NOW()
	    WHERE use_username = #{id} OR use_uuid = #{id}
	</update>

	<insert id="insert">
		INSERT INTO users (use_username, use_password, use_email, use_nickname,
		use_uuid, use_registration_date, use_last_updated_date)
		values
		(#{user.username},#{user.password},#{user.email},#{user.nickname},#{user.uuid},UTC_TIMESTAMP(),UTC_TIMESTAMP())
	</insert>

	<delete id="deleteUserByUsername">
		DELETE FROM users WHERE use_username = #{username}
	</delete>
</mapper>